:root {
    --blue-1: #2f80ed;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
}

#root {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
}

body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background: #333333;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.035em;
}

div {
    margin: auto;
}

.rectangle {
    border-radius: 12px;
}

.rectangle.large-rectangle {
    width: 100%;
    height: 100%;
    padding: 5%;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.rectangle.dropzone-rectangle {
    width: 80%;
    margin-top: 2em;
    background: #f6f8fb;
    border: 1px dashed #97bef4;
    box-sizing: border-box;
}

.button {
    background: var(--blue-1);
    border-radius: 8px;
}

.choose-button {
    /* width: 101px;
    height: 31.98px; */
    /* margin-top: 1.5em; */
    padding: 0.5rem 1rem;
    font-family: Noto Sans;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
}

.copy-button {
    width: 74px;
    height: 30px;
}

.vector {
    margin: 2em auto;
    background: var(--gray-4);
    width: max-content;
}

h1 {
    font-size: 18px;
    line-height: 27px;

    color: var(--gray-2);
    margin: 1em;
}

h2 {
    font-size: 12px;
    line-height: 18px;

    color: var(--gray-4);
    margin: 2em auto;
}

h3 {
    font-size: 10px;
    line-height: 15px;

    color: var(--gray-3);
    margin: 1em;
}

div.upload {
    width: 100%;
}

div.info-section {
    width: 100%;
}

div.dropzone-text {
    margin: 2em auto;
}

div.or-text {
    margin: 1em auto;
}
