:root {
    --blue-1: #2f80ed;
    --gray-2: #4f4f4f;
    --gray-3: #828282;
    --gray-4: #bdbdbd;
}

* {
    box-sizing: border-box;
}

body {
    /* overflow: auto; */
    font-family: "Poppins", sans-serif;
    background: #333333;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.035em;
}

div {
    margin: auto;
}

#root {
    position: relative;
    /* top: calc(50vh - 15em); */
    top: 50vh;
    margin-top: -15em;
    width: 50vw;
    max-width: 24em;
    min-width: 15em;
    height: 30em;
    /* transform: translateY(calc()); */
}

footer {
    position: fixed;
    bottom: 0;
    margin: 1.5em auto 0 auto;
    width: 24em;

    font-family: "Montserrat", sans-serif;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
}

@media all and (max-height: 35em) {
    #root {
        /* prevent the value of top to be negative */
        top: 0;
        margin-top: 1em;
    }

    footer {
        position: static;
        bottom: unset;
    }
}

.rectangle {
    border-radius: 12px;
}

.rectangle.large-rectangle {
    width: 100%;
    height: 100%;
    padding: 5%;
    background: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.rectangle.dropzone-rectangle {
    width: 80%;
    margin-top: 2em;
    background: #f6f8fb;
    border: 1px dashed #97bef4;
}

.rectangle.dropzone-rectangle:hover {
    border-style: solid;
}

.button {
    background: var(--blue-1);
    border-radius: 8px;
}

.choose-button {
    padding: 0.5rem 1rem;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
}

.copy-button {
    width: 74px;
    height: 30px;
}

.vector {
    margin: 2em auto;
    background: var(--gray-4);
    width: max-content;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 18px;
    line-height: 27px;

    color: var(--gray-2);
    margin: 1em;
}

h2 {
    font-size: 12px;
    line-height: 18px;

    color: var(--gray-4);
    margin: 2em auto;
}

h3 {
    font-size: 10px;
    line-height: 15px;

    color: var(--gray-3);
    margin: 1em;
}

div.upload {
    width: 100%;
}

div.info-section {
    width: 100%;
}

div.dropzone-text {
    margin: 2em auto;
}

div.or-text {
    margin: 1em auto;
}
